<%- include ("partials/header") %>
<div class="container">
    <div class="row d-flex justify-content-between">
        <div class="col-md-6">
            <h1 class="display-4">Nicknames</h1>
        </div>

        <div class="col-md-6 mt-4 text-right">
            <div class="custom-control custom-checkbox">
                <input
                    type="checkbox"
                    class="custom-control-input"
                    id="tickMetadata"
                />
                <label class="custom-control-label" for="tickMetadata"
                    >Show metadata</label
                >
            </div>
            <div class="custom-control custom-checkbox">
                <input
                    type="checkbox"
                    class="custom-control-input"
                    id="tickNonmembers"
                />
                <label class="custom-control-label" for="tickNonmembers"
                    >Show Non-Broumvirate members</label
                >
            </div>
        </div>
    </div>
    <table class="table table-sm table-bordered">
        <thead>
            <tr id="bm-nickheader">
                <th>Alden</th>
                <th>Ben</th>
                <th>Emerson</th>
                <th>Jacob</th>
                <th>Kai</th>
                <th>Max</th>
                <th>Miles</th>
                <th>Date</th>
                <th>Changed By</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <% for(i=0;i<nicknames.length;i++){ try{
            nicknames[i].nicknames.sort((a, b) => ((parseInt(a.boy.nickOrder) >
            parseInt(b.boy.nickOrder)) ? 1 : -1)) } catch(err){
            console.log(err); } var index = 0 %>
            <tr>
                <%for(j=0;j<10;j++){%>
                <td class="bm-nick<%=j%><% if(j==9){%> bm-nick-notes">
                    <%=nicknames[i].notes%> <%} else if(j==8){%>
                    bm-nick-editor"> <%=nicknames[i].editedBy%> <%} else
                    if(j==7){%> bm-nick-date"> <%=nicknames[i].dateString%> <%}
                    else{ %>"><% try{
                    if(nicknames[i].nicknames[index].boy.nickOrder == j){%>
                    <%=nicknames[i].nicknames[index].nickname%> <%index = index
                    + 1} } catch(err){} }%>
                </td>
                <%}%>
            </tr>
            <%}%>
        </tbody>
    </table>
</div>
<script src="js/pNicknames.js"></script>
<%- include ("partials/footer") %>
