<%- include ("../partials/header") %>
<div class="container">
    <div class="row">
		<div class="col-md-10 mx-auto">
            <h2 class="text-center my-3">
                Edit BHotM
            </h2>

            <form action="/bhotm/<%=bhotmold._id %>?_method=PUT" class="needsValidation" method="POST">
                <div class="form-group">
					<label for="newMonthName">Month:</label>
                    <input type="text" class="form-control" id="newMonthName" name="bhotm[month]" value="<%=bhotmold.month%>" required>
                    <label for="newMonthNotes">Notes:</label>
					<input type="text" class="form-control" id="newMonthNotes" value="<%=bhotmold.notes%>" name="bhotm[notes]">
                </div>
                
                <div class="form-group row">
                <% for(i=0;i<bhotmold.entries.length;i++){ %>
                <div class="col-md-6">
                    <div class="card my-2">

                        <div class="card-header">
                            <h3>Entry <%=i+1%>:</h3>
                        </div>

                        <div class="card-body">
                            <label for="bhotmEntree">Submitter's Name:</label>
                            <input type="text" class="form-control" id="bhotmEntree" name="bhotm[entries][<%=i%>][name]" value="<%=bhotmold.entries[i].name%>" required>

                            <label for="bhotmBoyPick">Associated Boy (optional):</label>
                            <select class="form-control" id="bhotmBoyPick" name="bhotm[entries][<%=i%>][boy]">
                                <option value="" <% if(!bhotmold.entries[i].boy){%>
                                    selected
                                    <%}%> >---</option>
                                
                                <%for(j=0;j<boys.length;j++){%>
                                    <option value="<%=boys[j].id%>" <% if(bhotmold.entries[i].boy && ( boys[j].id === bhotmold.entries[i].boy.id)) {%>
                                        selected 
                                    <%}%> >
                                        <%=boys[j].name%>
                                    </option>
                                <%}%>
                            </select>

                            <label for="bhotmLink">Link to Entry:</label>
                            <input type="text" class="form-control" id="bhotmLink" name="bhotm[entries][<%=i%>][link]" value=<%=bhotmold.entries[i].link%>>

                            <label for="bhotmEntreeName">Entry Name (optional):</label>
                            <input type="text" class="form-control" id="bhotmEntreeName" name="bhotm[entries][<%=i%>][entryName]" value="<%=bhotmold.entries[i].entryName%>" >

                            <label for="bhotmEntreeDesc">Entry Description (optional):</label>
                            <input type="text" class="form-control" id="bhotmEntreeDesc" name="bhotm[entries][<%=i%>][entryDescription]" value=<%=bhotmold.entries[i].entryDescription%> >
                            
                            <label for="bhotmPlace">Place:</label>
                            <input type="number" class="form-control" id="bhotmPlace" name="bhotm[entries][<%=i%>][place]" value="<%=bhotmold.entries[i].place%>" required>
                        </div>
                    </div>
                </div>
                <%}%>
                </div>
                <div class="form-group">
					<button class="btn btn-primary btn-block">Submit Month</button>
				</div>
            </form>
        </div>
    </div>
</div>
<%- include ("../partials/footer") %>