<%- include ("../partials/header") %>
<div class="container">
	<div class="row">
		<div class="col-md-10 mx-auto">
			<h2 class="text-center my-3">
				New Rating
			</h2>
			
			
			<form action="/rate" class="needsValidation" method="POST">
				<div class="form-group">
					<label for="newRateItemName">Item Name:</label>
					<input type="text" class="form-control" id="newRateItemName" name="rateMetadata[name]", placeholder="Item Name" required>
				</div>
				
				<div class="form-group">
					<label for="newRateItemCat">Item Category:</label>
					<select class="selectpicker form-control" id="newRateItemCat" name="rateMetadata[category]" data-live-search="true" title="Choose category..." required>
						<% for(i=0;i<categories.length;i++){
							if(i==0){%>
								<optgroup label="<%=categories[i].category%>">
							<%}
							else if(categories[i].category != categories[i-1].category){%>
								<optgroup label="<%=categories[i].category%>">
							<%}%>
							<option data-tokens="<%=categories[i].tokens%>"> <%=categories[i].name%></option>
						<%}%>
					</select>
					<a href="/rate/category/new">Add Category</a>
				</div>
				
				<div class="form-group">
					<label for="newRateItemLink">Link:</label>
					<input type="text" class="form-control" id="newRateItemLink" name="rateMetadata[link]", placeholder="Link to item (optional)">
				</div>
				
				<div class="row justify-content-around justify-content-lg-between">
					<% for(i=0;i<boys.length; i++){
							if(boys[i].active){%>
							<div class="col-6 col-lg-2 text-center mb-4">
								<%= boys[i].name %>
								<div class="input-group">
									<input class="form-control bm-rate" type="number" name="rates1[<%=boys[i].id%>]" min="0" max="10" step=".1" placeholder = "0.0">
									<div class="input-group-append">
										<span class="input-group-text">/10</span>
									</div>
								</div>
							</div>
					<% }} %>
				</div>
				
				<div class="form-group">
					<label for="newRateDescription">General Description:</label>
					<textarea class="form-control" id="newRateDescription" name="rateMetadata[description]", rows="4"></textarea>
				</div>
				
				<div class="form-group">
					<button class="btn btn-primary btn-block">Submit Rating</button>
				</div>
			</form>
		</div>
	</div>
</div>
<%- include ("../partials/footer") %>